:root {
  --pink-color: #eb51c2;
}

body {
  font-family: "Josefin Sans", "Noto Sans JP";
  overflow: auto;
}

/*HEADER=========================================*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 3px 6px rgb(0 0 0 / 5%);
  z-index: 100;
}

.header__wrapper {
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 80px;
}

.header__logo {
  width: 180px;
  @media (max-width: 1025px) {
    width: 100px;
  }
}

.header__logo-link {
  display: block;
  width: 180px;
  @media (max-width: 1025px) {
    width: 100px;
  }
}

.header__logo-img {
  width: 100%;
  object-fit: cover;
}

.header__btn {
  display: block;
  text-align: center;
  width: 250px;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--pink-color);
  border-radius: 100px;
  color: white;
}

/*MV================================================*/
.mv {
  position: relative;
  width: 100%;
  height: 680px;
  @media (max-width: 1025px) {
    height: 550px;
  }
}

.mv__content {
  max-width: 1060px;
  position: absolute;
  top: 0;
  right: 0;
  @media (max-width: 1025px) {
    width: 70%;
    height: 500px;
    position: absolute;
    top: 50px;
  }
}

.mv__img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 0 100px;
  object-fit: cover;
  overflow: hidden;
}

.mv__text {
  position: absolute;
  top: 25vh;
  left: 15vw;
  @media (max-width: 1025px) {
    top: 20vh;
    left: 5vw;
  }
}

.mv__text-title1 {
  font-size: min(11vw, 90px);
  background-color: white;
}

.mv__text-title2 {
  font-size: min(11vw, 90px);
  background-color: white;
  margin-bottom: 20px;
}

.mv__text-title2 span {
  color: var(--pink-color);
}

.mv__text-subtitle {
  font-size: min(3vw, 28px);
  font-weight: 700;
  margin-bottom: 30px;
  background-color: #fff;
  @media (max-width: 1025px) {
    background-color: white;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1025px) {
    justify-content: flex-start;
  }
}

.btn-link {
  width: 370px;
  padding: 30px 30px;
  border-radius: 100px;
  background-color: var(--pink-color);
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  @media (max-width: 1025px) {
    width: 220px;
    padding: 20px 10px;
    font-size: 13px;
  }
}

/*INTRO====================================*/
.intro__wrapper {
  text-align: center;
}

.intro__title {
  font-size: 108px;
  font-weight: 700;
  color: var(--pink-color);
  position: relative;
  top: -10px;
  @media (max-width: 1025px) {
    font-size: 56px;
    top: -20px;
  }
}

.intro__subtitle {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  @media (max-width: 1025px) {
    font-size: 16px;
  }
}
.intro__subtitle span {
  color: var(--pink-color);
}

.intro__text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
  @media (max-width: 1025px) {
    font-size: 15px;
  }
}

/*TRAINING=======================================*/
/* training-------------------------------- */
.training__box {
  max-width: 1300px;
  /* padding: 0 15vw; */
  margin: 0 auto;
  display: flex;
  position: relative;
  margin-bottom: 80px;
  @media (max-width: 1025px) {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 40px;
  }
}

.training__content {
  width: 70%;
  @media (max-width: 1025px) {
    width: 100%;
  }
}

.training__img {
  width: 100%;
  object-fit: cover;
}

.training__text {
  position: absolute;
  right: 0;
  bottom: -20px;
  padding: 60px;
  max-width: 555px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  z-index: 1;
  @media (max-width: 1025px) {
    position: static;
    margin: -10px 20px;
    max-width: 95%;
    width: 100%;
    padding: 40px 30px 30px 30px;
  }
}

.training__title {
  font-size: 24px;
  line-height: 1.2;
  color: var(--pink-color);
  margin-bottom: 20px;
}

.training__subtitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  @media (max-width: 1025px) {
    margin-bottom: 15px;
  }
}

.training__text-area {
  line-height: 1.5;
}

.training__btn {
  margin-bottom: 60px;
  @media (max-width: 1025px) {
    justify-content: center;
    margin-bottom: 40px;
  }
}

.training__btn-link {
  @media (max-width: 1025px) {
    width: 300px;
  }
}

/*food----------------------------------------*/

.food__box {
  max-width: 1300px;
  /* padding: 0 15vw; */
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  margin-bottom: 62px;
  @media (max-width: 1025px) {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 40px;
  }
}

.food__content {
  width: 70%;
  @media (max-width: 1025px) {
    width: 100%;
  }
}

.food__img {
  width: 100%;
  object-fit: cover;
}

.food__text {
  position: absolute;
  left: 0;
  bottom: -20px;
  padding: 60px;
  max-width: 555px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  z-index: 1;
  @media (max-width: 1025px) {
    position: static;
    margin: -10px 20px;
    max-width: 95%;
    width: 100%;
    padding: 40px 30px 30px 30px;
  }
}

.food__title {
  font-size: 24px;
  line-height: 1.2;
  color: #00b21b;
  margin-bottom: 20px;
}

.food__subtitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  @media (max-width: 1025px) {
    margin-bottom: 15px;
  }
}

.food__text-area {
  line-height: 1.5;
}

/*WAVE===============================*/

/*TRAINER================================*/
.trainer__wrapper {
  background-color: var(--pink-color);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.trainer {
  color: white;
  padding: 40px 0;
}

.trainer__title {
  font-size: 64px;
  margin-bottom: 12px;
  @media (max-width: 1025px) {
    font-size: 40px;
  }
}

.trainer__subtitle {
  font-size: 20px;
  margin-bottom: 40px;
  @media (max-width: 1025px) {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

.trainer__content-title {
  display: flex;
  margin-bottom: 20px;
}

.trainer__content-title1,
.trainer__content-title2 {
  width: 50%;
  text-align: center;
  padding: 12px 20px;
  font-size: 18px;
  @media (max-width: 1025px) {
    font-size: 16px;
  }
}

.trainer__content-title1 {
  border-bottom: 1px solid white;
}

.trainer__items {
  display: flex;
  column-gap: 15px;
  @media (max-width: 600px) {
    flex-direction: column;
    column-gap: o;
    row-gap: 15px;
  }
}

.trainer__box {
  max-width: calc((100% - 30px) / 3);
  @media (max-width: 600px) {
    max-width: 100%;
  }
}

.trainer__item {
  max-height: 350px;
  width: 100%;
  @media (max-width: 600px) {
    max-height: auto;
  }
}

.trainer__box-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.trainer__box-text {
  min-height: 110px;
  background-color: white;
  color: black;
  border-radius: 0 0 10px 10px;
  padding: 20px 20px 20px 20px;
  font-size: 15px;
  line-height: 1.5;
  @media (max-width: 1025px) {
    padding: 20px;
    font-size: 14px;
  }
  @media (max-width: 600px) {
    min-height: 120px;
  }
}

/*studio======================================*/
.studio {
  padding: 40px 0;
}

.studio__title {
  font-size: 64px;
  margin-bottom: 12px;
  @media (max-width: 1025px) {
    font-size: 40px;
  }
}

.studio__subtitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--pink-color);
  margin-bottom: 40px;
  @media (max-width: 1025px) {
    font-size: 14px;
  }
}

.studio__content {
  position: relative;
  margin-bottom: 20px;
}

.studio__img {
  width: 100%;
  object-fit: cover;
}

.nav-left {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1025px) {
    width: 40px;
    height: 40px;
    left: -20px;
  }
}

.nav-left-icon {
  color: var(--pink-color);
  font-size: 30px !important;
  font-weight: bold !important;
}

.nav-right {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  right: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1025px) {
    width: 40px;
    height: 40px;
    right: -20px;
  }
}

.nav-right-icon {
  color: var(--pink-color);
  font-size: 30px !important;
  font-weight: bold !important;
}

/*PRICE============================================*/
.price__wrapper {
  background-color: var(--pink-color);
}

.price {
  padding: 40px 0;
}

.price__title {
  font-size: 64px;
  color: white;
  margin-bottom: 12px;
  @media (max-width: 767px) {
    font-size: 40px;
  }
}

.price__subtitle {
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding-bottom: 40px;
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.price__items {
  display: flex;
  column-gap: 15px;
}

.price__box {
  width: calc((100% - 30px) / 3);
  background-color: white;
  border-radius: 10px;
  padding: 40px 20px 0;
  text-align: center;
}

.price__box2 {
  position: relative;
}

.price__box-label {
  position: absolute;
  top: -24px;
  left: 50%;
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: var(--pink-color);
  padding: 10px;
  transform: translateX(-50%);
  border: 2px solid var(--pink-color);
  border-radius: 50px;
  background-color: #fff;
}

.course {
  font-size: 26px;
  font-weight: 600;
  color: var(--pink-color);
  line-height: 1.5;
}

.course-price {
  font-size: 48px;
  color: black;
  @media (max-width: 1025px) {
    font-size: min(3vw, 36px);
  }
}

.admission-fee {
  font-size: 18px;
  line-height: 1.5;
  color: black;
  margin-bottom: 20px;
}

.rental {
  padding: 30px 0;
  border-top: 1px solid #ccc;
  font-size: 18px;
}

.rental-items {
  margin-top: 10px;
  font-weight: 700;
}

.restaurant {
  padding: 30px 0;
  border-top: 1px solid #ccc;
  font-size: 18px;
}

.restaurant-use {
  margin-top: 10px;
  font-weight: 700;
}

.meal-guidance {
  padding: 30px 0;
  border-top: 1px solid #ccc;
  font-size: 18px;
}

.meal-guidance-use {
  margin-top: 10px;
  font-weight: 700;
}

/*FAQ============================*/
.faq {
  padding: 40px 0;
}

.faq__title {
  font-size: 64px;
  margin-bottom: 12px;
  @media (max-width: 767px) {
    font-size: 40px;
  }
}

.faq__subtitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--pink-color);
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.faq-accordion {
  border-bottom: 1px solid #ccc;
  list-style: none;
  font-size: 15px;
  line-height: 1.5;
}

.faq-question {
  list-style: none;
  cursor: pointer;
  padding: 20px 10px 20px;
}

.faq-question::before {
  content: "Q";
  font-size: 26px;
  line-height: 1.2;
  color: var(--pink-color);
  font-weight: 700;
  margin-right: 15px;
}

.faq-answer {
  padding: 6px 10px 20px;
}

.faq-answer::before {
  content: "A";
  font-size: 26px;
  line-height: 1.2;
  color: var(--pink-color);
  font-weight: 700;
  margin-right: 15px;
}

/*cta====================================*/
.cta {
  padding-top: 40px;
}

.cta__img {
  width: 100%;
}

.cta__text-area {
  padding: 50px 20px;
  background-color: var(--pink-color);
  @media (max-width: 767px) {
    padding: 30px 20px;
  }
}

.cta__text {
  font-size: 64px;
  text-align: center;
  color: white;
  margin-bottom: 15px;
  @media (max-width: 767px) {
    font-size: 26px;
  }
}

.bottom-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-btn-link {
  width: 370px;
  padding: 30px 30px;
  border-radius: 100px;
  background-color: white;
  color: var(--pink-color);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

/*FOOTER=======================================*/
.footer {
  padding: 100px 20px;
  background-color: black;
  @media (max-width: 1025px) {
    padding: 50px 20px;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__img {
  width: 180px;
  @media (max-width: 1025px) {
    width: 100px;
  }
}

/*TOP-PAGE================*/
.top-page {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1025px) {
    width: 40px;
    height: 40px;
  }
}

.top-page-icon {
  font-size: 48px !important;
  color: var(--pink-color);
  @media (max-width: 1025px) {
    font-size: 24px !important;
  }
}
